header {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  & a {
    text-decoration: none;
  }

  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
  }
}
