@import "header.css";
@import "hero.css";
@import "footer.css";
@import "next_event.css";

:root {

}

html {
  line-height: 1.75;
  font-size: 1.25em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f0f0f0;
  color: #1c1c1c;
}

body {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #1c1c1c;
    color: #f0f0f0;
  }
}

div#live_count {
  font-size: 0.8rem;
  color: #666;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 4px;
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #f6f6f6;
}